@import url("../css/header.css");
@import url("../css/hero_section.css");
@import url("../css/serives.css");
@import url("../css/healthcare_download_sections.css");
@import url("../css/testimonials.css");
@import url("../css/latest_articles.css");
@import url("../css/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body, main {
  width: 100%;
}
